.weather {
    background: linear-gradient(45deg,#2f4680,#500ae4);
    padding:30px;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-items: center;    
}

.search-bar {   
    gap:10px;
    display:flex;  
}
.input-city {
    border-radius:18px;
    padding:6px;
    padding-left:20px;
    outline:none;
    border:none;

}
.weather-icon{
    width:100px;
    margin:30px 0px 25px 0px;
}
.search-icon {
    width: 34px;
    height:34px;
    background-color: white;
    border-radius:100%;
    padding:10px;    
    
}
.search-bar:hover {
    cursor:pointer;    
}

.temperature {
    color:white;
    font-size:55px;
    line-height:1;
}
.location {
    color:white;
    font-size:25px;
}
.weather-data {
    width:100%;
    margin-top:10%;
    color:#fff;
    display:flex;
    justify-content:space-between;
    gap:20px;
}
.col {
    display:flex;
    gap:15px;
}
.col img {
    width:16px;
    height:16px;
    margin-top:7px;
}
