.new-collections {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    min-height:90vh;
    /* padding:0px 200px 0px 200px; */
    margin-bottom: 100px;
}
.new-collections h1 {
    color:#171717;
    font-weight:600;
    font-size:50px
}
.new-collections hr {
    background-color:#252525;
    border-radius:10px;
    width:200px;
    height:6px;
}
.collections {
    display: flex;
    gap:60px;
    justify-content: center;
    margin:50px 100px;
    flex-wrap: wrap;
    padding-right: 40px;
}
